FLASK_ENV=development
FLASK_DEBUG=True

SUPABASE_URL=https://tlmukuvyhtdvrcdngpof.supabase.co
SUPABASE_KEY=sb_publishable_R190WwAGWcxGTHkt2XtsUQ_R3EB_WAM
SUPABASE_SERVICE_KEY=your_supabase_service_role_key

JWT_SECRET_KEY=your_jwt_secret_key_here
JWT_ALGORITHM=HS256

UPLOAD_FOLDER=./uploads
ALLOWED_EXTENSIONS=pdf,jpg,jpeg,png,doc,docx

FLASK_PORT=5000
